################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/tasks.vs.json
/node_modules
/npm-debug.log
